.notfound-root {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(27, 27, 27);
    height: 100vh;
}

body {
    margin: 0;
    padding: 0;
}